# Variáveis de ambiente, nunca commitar
.env.local
.env.production

# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
